<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <p id="notice" style="color:orange;"><%= notice %></p>
      <div class="col-lg-12">
        <h2 class="page-header" style="margin: 10px 0 15px !important;">Listing Redeems</h2>
      </div>
      <% if @redeems.present? %>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>Phone Number</th>
              <th>UPI Id</th>
              <th>User Id</th>
              <th>Coins</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @redeems.each do |redeem| %>
              <tr>
                <td><%= redeem.id %></td>
                <td><%= redeem.phone %></td>
                <td><%= redeem.upi_id %></td>
                <td><a href="/admin/users/<%= redeem.user.id %>"><%= redeem.user.id %></a></td>
                <td><%= redeem.coins %></td>
                <td><%= redeem.amount %></td>
                <td class="fs-5">
                  <% unless redeem.status == "COMPLETED" %>
                    <div class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= redeem.id %>">Payout</div>
                    <div class="modal fade" id="exampleModal<%= redeem.id %>" tabindex="-1" aria-labelledby="exampleModalLabel<%= redeem.id %>" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel<%= redeem.id %>">Payout</h1>
                          </div>
                          <div class="modal-body">
                            <%= form_with(model: @redeem, url: admin_payout_user_path(redeem), method: :post) do |f| %>                              <%= f.hidden_field :id, value: redeem.id, class: "form-control" %>
                              <div class="mb-3">
                                <%= f.label :amount, class: "form-label" %>
                                <%= f.text_field :amount, class: "form-control", title: "Please enter the amount", required: true %>
                              </div>
                              <div class="mb-3">
                                <%= f.label :secret, class: "form-label" %>
                                <%= f.text_field :secret, class: "form-control", required: true %>
                              </div>
                              <%= submit_tag "Payout", class: "btn btn-primary" %>
                            <% end %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <p style="color:Green;">PAYOUT SUCCESSFULL !!</p>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @redeems %>
      <% else %>
        <h1 class="not-found">No  Redeems</h1>
      <% end %>
    </div>
  </div>
</div>
