<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Edit Payout</h2>
      </div>
      <div class="col-lg-6">
        <!-- app/views/admin/payouts/_form.html.erb -->
        <%= form_with(model: @payout,url: admin_payouts_path(@payout)) do |form| %>
          <% if @payout.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h4><%= pluralize(@payout.errors.count, "error") %> prohibited this payout from being saved:</h4>
              <ul>
                <% @payout.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-group">
            <%= form.label :payout_name %>
            <%= form.text_field :payout_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :payout_img_url %>
            <%= form.text_field :payout_img_url, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :payout_amount %>
            <%= form.text_field :payout_amount, class: 'form-control' %>
          </div>
          <div class="actions">
            <%= form.submit 'Save', class: 'btn btn-primary' %>
            <%= link_to 'Cancel', admin_payouts_path, class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
