<%= render partial: 'carousel', locals: { banners: @banners } %>
<%= render partial: 'popular_stores', locals: { stores: @stores } %>
<h1 class="text-4xl font-bold text-center mt-20 mb-12 text-white relative z-10">
  <span class="relative inline-block">
    Popular Categories
    <span class="absolute bottom-0 left-0 top-10 w-full h-2 bg-blue-500 transform -skew-x-12"></span>
  </span>
</h1>
<div class="flex flex-wrap justify-center gap-10 p-5">
  <% if @categories.any? %>
    <% @categories.each do |category| %>
      <%= render partial: 'category_card', locals: { category: category } %>
    <% end %>
  <% else %>
    <div class="flex flex-row justify-center">
      <h1>No Categories Found</h1>
    </div>
  <% end %>
</div>
<%= link_to "#", class: "flex justify-center flex-row w-full h-[40vh] mt-10" do %>
  <%= image_tag "/index_banner.png", class: "mx-5 w-full object-fit carousel-image shadow-lg rounded-xl" %>
<% end %>
<h1 class="text-4xl font-bold text-center mt-20 mb-12 text-white relative z-10">
  <span class="relative inline-block">
    Popular Offers
    <span class="absolute bottom-0 left-0 top-10 w-full h-2 bg-blue-500 transform -skew-x-12"></span>
  </span>
</h1>
<div class="flex flex-wrap justify-center gap-10 p-5">
  <% if @offers.any? %>
    <% @offers.each do |offer| %>
      <%= render partial: 'offer_card', locals: { offer: offer } %>
    <% end %>
  <% else %>
    <div class="flex flex-row justify-center">
      <h1>No Offers Found</h1>
    </div>
  <% end %>
</div>
