<style>
  .underline-animation {
    position: relative;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease-in-out;
  }
  .underline-animation::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 2px;
    width: 0%;
    transition: width 0.3s ease-in-out;
  }
  .underline-animation:hover::before {
    width: 100%;
  }
</style>
<nav class="shadow-sm bg-[#FFBB8A5A]">
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0">
          <img class="h-12 w-auto" src="/logo.png" alt="Your Company">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%= link_to "Home", root_path, class: "underline-animation rounded-md text-white px-3 py-2 text-lg font-medium" %>
            <%= link_to "Categories", categories_path, class: "underline-animation rounded-md text-white px-3 py-2 text-lg font-medium" %>
            <%= link_to "Offers", offers_path, class: "underline-animation rounded-md text-white px-3 py-2 text-lg font-medium" %>
            <%= link_to "Stores", stores_path, class: "underline-animation rounded-md text-white px-3 py-2 text-lg font-medium" %>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="relative ml-3">
          <% if @user.present? %>
            <div class="flex items-center gap-5">
              <%= link_to "Log Out", logout_path, method: :delete, class: "hidden lg:block bg-gray-800 rounded-md text-white px-3 py-2 text-sm font-medium" %>
              <img class="h-8 w-8 rounded-full" src="<%= @user.social_img_url %>" alt="">
            </div>
          <% else %>
            <%= google_sign_in_button proceed_to: google_login_path,data:{turbo:false}, class: "bg-gray-800 rounded-md text-white px-3 py-2 text-sm font-medium flex gap-2 items-center" do %>
              <%= image_tag('https://external-content.duckduckgo.com/ip3/www.google.com.ico', alt: 'Google', style: "width:20px", class: "m-2") %>
              <p>Sign in with Google</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
