<!DOCTYPE html>
<html>
  <head>    
    <title>CouponStudio Website-Get Cashback & Coupons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="verify-admitad" content="8d1046f250" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gradient-to-b from-yellow-600 via-yellow-400 to-white">
    <p class="bg-red-500 text-white text-center w-screen">
      <%= alert %>
    </p>
    <%= render partial: 'shared/navbar', locals: { user: @user } %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
